* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls-space {
  flex-shrink: 0;
  height: 50px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  filter: drop-shadow(0 0 2px #222);
}

a.logo {
  padding: 4px;
}

.logo img {
  width: 117px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.panel {
  margin: 5px;
  border: 1px solid grey;
  display: inline-block;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 5px;
}
