* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a.logo {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 4px;
  background: #222;
  box-shadow: 0 0 2px 2px #222;
  opacity: 0.25;
}

a.logo:active,
a.logo:hover {
  opacity: 1;
}

.logo img {
  width: 117px;
}

.value-box {
  border: 1px solid grey;
  background-color: rgba(245, 245, 245, 0.913);
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#message-form {
  border: 1px solid grey;
  background-color: rgba(245, 245, 245, 0.913);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
textarea {
  margin: 10px;
}
